<ion-view view-title="Game Summary">
<div class="row">
	<div class="col"><label>{{$scope.gameDate}}</label></div>
	<div class="col"><label>{{$scope.gameTime}}</label></div>
</div>
<div class="row">
	<div class="col"><label>W</label></div>
	<div class="col"><label>L</label></div>
</div>
<div class="row">
	<div class="col"><label>{{winnerTeam}}</label></div>
	<div class="col"><label>{{runnerTeam}}</label></div>
</div>
<div class="row">
	<div class="col"><label>68</label></div>
	<div class="col"><label>56</label></div>
</div>	
<div class="row">
	<div class="col"><button class="button button-dark">Export Game</button></div>
	<div class="col"><button class="button button-dark">Save Game</button></div>
</div>	
</ion-view>